@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model welcome.Models.Reservation

@{
    StayRoom[] StayRooms = Model.StayRooms.ToArray();
}

<form asp-action="EditReservation" id="singlereservationform">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ReservationID" />
        <input type="hidden" asp-for="HotelID" />

        <!-- AA & Guest-->
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon" id="AALabel">AA</span>
                    <input type="text" asp-for="AA" class="form-control input-sm" aria-describedby="AALabel">
                    <span asp-validation-for="AA" class="text-danger" />
                </div>
            </div>
            <div class="col-md-9">
                <div class="input-group">
                    <span class="input-group-addon" id="GestNameLabel">@Localizer["Guest"]</span>
                    <input type="text" asp-for="GuestOrGroup" class="form-control" aria-describedby="GestNameLabel">
                    <span asp-validation-for="GuestOrGroup" class="text-danger" />
                </div>
            </div>
        </div>

        <hr />

        <!--Arrival, Departure, Pricelist, Agent, ReservationDate, Agent, Contact-->
        <div class="row">
            <!--Agent, Pricelist, Arrival, Departure-->
            <div class="col-md-6" style="border-right:1px solid #ffd800;">
                <!--Agent-->
                <div class="form-group">
                    <input name="AgentID" type="hidden" value="@((Guid)ViewData["AgentID"])" id="Reservations-EditReservation-AgentID" />
                    <label class="col-md-3 control-label">Agent</label>
                    <div class="col-md-3">
                        <input class="form-control input-sm" value="@ViewData["AgentCode"]"/>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control input-sm" value="@ViewData["AgentName"]" />
                    </div>
                </div>
                <!--Pricelist-->
                <div class="form-group">
                    <input name="PricelistID" type="hidden" value="@((Guid)ViewData["PricelistID"])" id="Reservations-EditReservation-PricelistID"/>
                    <label class="col-md-3 control-label">Pricelist</label>
                    <div class="col-md-3">
                        <input class="form-control input-sm" value="@ViewData["PricelistName"]" />
                    </div>
                </div>
                <!--Arrival-->
                <div class="form-group">
                    <label  class="col-md-3 control-label">Arrival</label>
                    <div class="col-md-5">
                        <input name="Arrival" value="@((DateTime)ViewData["Arrival"])" class="form-control input-sm datepicker" type="text" />
                    </div>
                </div>
                <!--Departure-->
                <div class="form-group">
                    <label class="col-md-3 control-label">Departure</label>
                    <div class="col-md-5">
                        <input name="Departure" value="@((DateTime)ViewData["Departure"])" class="form-control input-sm datepicker" type="text" />
                    </div>
                </div>


            </div>

            <!--Contact Info-->
            <div class="col-md-6">
                <div id="reservations-editreservation-contact" data-link="@Url.Action("GetReservationContactInfo",new { id=Model.ReservationID})"></div>
            </div>

        </div>

        <!--ReservationRooms (StayRooms) & Deposits-->
        <div class="row">

            <!--StayRooms-->
            <div class="col-md-6" id="reservation-stayrooms" data-stayrooms="@Model.StayRooms">
                <div id="reservationstayrooms" data-link="@Url.Action("EditStayRooms",new { id = Model.ReservationID })"></div>
            </div>

            <!--Deposits-->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">@Localizer["Deposits"]</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="askprepaylabel">@Localizer["Asked"]</span>
                                    <input type="text" asp-for="AskPrePay" class="form-control input-sm numbertextbox" aria-describedby="askprepaylabel">
                                    <span asp-validation-for="AskPrePay" class="text-danger" />
                                </div>
                            </div>
                            <div class="col-md-6 pull-right">
                                <div class="input-group">
                                    <span class="input-group-addon" id="askprepayuntillabel">@Localizer["until"]</span>
                                    <input type="text" asp-for="AskPrePayDate" class="form-control input-sm datepicker" aria-describedby="askprepayuntillabel">
                                    <span asp-validation-for="AskPrePayDate" class="text-danger" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <label class="col-md-2 control-label">@Localizer["Remarks"]</label>
            <div class="col-md-10">
                <textarea asp-for="Remarks" class="form-control" rows="3" cols="7" />
                <span asp-validation-for="Remarks" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <!--<input type="submit" value="Save" class="btn btn-default" />-->
                <div class="btn btn-info" id="Reservations-EditReservaton-Save">Save</div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
