@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model welcome.Models.Reservation

@{
    StayRoom[] StayRooms = Model.StayRooms.ToArray();
}
<script>
    $(function () {
        $('#deposit-dialog').dialog({
            autoOpen: false,
            height: "auto",
            width: 600,
            position: { my: "center", at: "top+15%" },
            modal: true,
            buttons: [
   {
       text: "Save",
       click: function () {
           $(this).dialog("close");
           $('#createoreditdeposit').submit();
       }
   },
   {
       text: "Cancel",
       click: function () {
           $(this).dialog("close");
       }
   }
            ]
        });
    });

</script>

<div id="deposit-dialog" title="Deposit" data-url="@Url.Action("_CreateNewDeposit")"></div>
<!-- Git Test -->
<form asp-action="EditReservation" id="singlereservationform">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" id="EditReservation-ReservationID" asp-for="ReservationID" />
        <input type="hidden" asp-for="HotelID" />

        <!-- AA & Guest-->
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon" id="AALabel">AA</span>
                    <input type="text" asp-for="AA" class="form-control input-sm" aria-describedby="AALabel">
                    <span asp-validation-for="AA" class="text-danger" />
                </div>
            </div>
            <div class="col-md-9">
                <div class="input-group">
                    <span class="input-group-addon" id="GestNameLabel">@Localizer["Guest"]</span>
                    <input type="text" asp-for="GuestOrGroup" class="form-control" aria-describedby="GestNameLabel">
                    <span asp-validation-for="GuestOrGroup" class="text-danger" />
                </div>
            </div>
        </div>

        <hr />

        <!--Arrival, Departure, Pricelist, Agent, ReservationDate, Agent, Contact-->
        <div class="row">
            <!--Agent, Pricelist, Arrival, Departure-->
            <div class="col-md-6" style="border-right:1px solid #ffd800;">
                <!--Agent-->
                <div class="form-group">
                    <input name="AgentID" type="hidden" value="@((Guid)ViewData["AgentID"])" id="Reservations-EditReservation-AgentID" />
                    <label class="col-md-3 control-label">Agent</label>
                    <div class="col-md-3">
                        <input class="form-control input-sm" value="@ViewData["AgentCode"]" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control input-sm" value="@ViewData["AgentName"]" />
                    </div>
                </div>
                <!--Pricelist-->
                <div class="form-group">
                    <input name="PricelistID" type="hidden" value="@((Guid)ViewData["PricelistID"])" id="Reservations-EditReservation-PricelistID" />
                    <label class="col-md-3 control-label">Pricelist</label>
                    <div class="col-md-3">
                        <input class="form-control input-sm" value="@ViewData["PricelistName"]" />
                    </div>
                </div>
                <!--Arrival-->
                <div class="form-group">
                    <label class="col-md-3 control-label">Arrival</label>
                    <div class="col-md-5">
                        @*<input name="Arrival" value="@((DateTime)ViewData["Arrival"])" class="form-control input-sm datepicker" type="text" />*@
                        <input id="arrivaldate" name="Arrival" value="@((DateTime)ViewData["Arrival"])" class="form-control input-sm" type="text" />
                    </div>
                </div>
                <!--Departure-->
                <div class="form-group">
                    <label class="col-md-3 control-label">Departure</label>
                    <div class="col-md-5">
                        @*<input name="Departure" value="@((DateTime)ViewData["Departure"])" class="form-control input-sm datepicker" type="text" />*@
                        <input id="departuredate" name="Departure" value="@((DateTime)ViewData["Departure"])" class="form-control input-sm" type="text" />
                    </div>
                </div>


            </div>

            <!--Contact Info-->
            <div class="col-md-6">
                <div id="reservations-editreservation-contact" data-link="@Url.Action("GetReservationContactInfo", new { id = Model.ReservationID })"></div>
            </div>

        </div>

        <!--ReservationRooms (StayRooms) & Deposits-->
        <div class="row">

            <!--StayRooms-->
            <div class="col-md-6" id="reservation-stayrooms" data-stayrooms="@Model.StayRooms">
                <div id="reservationstayrooms" data-link="@Url.Action("EditStayRooms", new { id = Model.ReservationID })"></div>
            </div>

            <!--Deposits-->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">@Localizer["Deposits"]</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="askprepaylabel">@Localizer["Asked"]</span>
                                    <input type="text" asp-for="AskPrePay" class="form-control input-sm numbertextbox" aria-describedby="askprepaylabel">
                                    <span asp-validation-for="AskPrePay" class="text-danger" />
                                </div>
                            </div>
                            <div class="col-md-6 pull-right">
                                <div class="input-group">
                                    <span class="input-group-addon" id="askprepayuntillabel">@Localizer["until"]</span>
                                    <input type="text" asp-for="AskPrePayDate" class="form-control input-sm datepicker" aria-describedby="askprepayuntillabel">
                                    <span asp-validation-for="AskPrePayDate" class="text-danger" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <table class="table table-condensed table-responsive">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Deposit</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Deposits)
                            {
                                var xtype = (item.CreditCardOrBankID == null || item.CreditCardOrBankID == Guid.Empty) ? "Cash" :(item.CreditCardOrBank.Name.Length<=15)? item.CreditCardOrBank.Name: item.CreditCardOrBank.Name.Substring(0,15);
                                var eurocolor = (item.Euro < 0) ? "red":"none";
                                <tr>
                                    <td>@(string.Format($"{item.HotelDate:d}"))</td>
                                    <td>@xtype</td>
                                    <td style="color:@eurocolor">@item.Euro</td>
                                    <td>
                                        <a href="javascript:void(0)" onclick="InitializeNewDeposit('@item.ReservationID','@item.DepositID')"><span class="glyphicon glyphicon-edit"></span> </a>
                                        <a asp-action="DeleteDeposit" asp-controller="Reservations" asp-route-id=@item.DepositID><span style="color:red" class="glyphicon glyphicon-remove-circle"></span> </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-warning" onclick="InitializeNewDeposit('@Model.ReservationID')"><span class="glyphicon glyphicon-plus-sign"></span> New Deposit</button>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <label class="col-md-2 control-label">@Localizer["Remarks"]</label>
            <div class="col-md-10">
                <textarea asp-for="Remarks" class="form-control" rows="3" cols="7" />
                <span asp-validation-for="Remarks" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <!--<input type="submit" value="Save" class="btn btn-default" />-->
                <div class="btn btn-info" id="Reservations-EditReservaton-Save">Save</div>
            </div>
        </div>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
