@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model welcome.Models.Reservation

@{
    StayRoom[] stayrooms = Model.StayRooms.ToArray();
}


<form asp-action="EditReservation">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id" />
        <input type="hidden" asp-for="HotelID" />

        <!-- AA & Guest-->
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon" id="AALabel">AA</span>
                    <input type="text" asp-for="AA" class="form-control input-sm" aria-describedby="AALabel">
                    <span asp-validation-for="AA" class="text-danger" />
                </div>
            </div>
            <div class="col-md-9">
                <div class="input-group">
                    <span class="input-group-addon" id="GestNameLabel">@Localizer["Guest"]</span>
                    <input type="text" asp-for="GuestOrGroup" class="form-control" aria-describedby="GestNameLabel">
                    <span asp-validation-for="GuestOrGroup" class="text-danger" />
                </div>
            </div>
        </div>

        <hr />

        <!--Arrival, Departure, Pricelist, Agent, ReservationDate, Agent, Contact-->
        <div class="row">
            <!--Agent, Pricelist, Arrival, Departure-->
            <div class="col-md-6" style="border-right:1px solid #ffd800;">
                <!--Agent-->
                <div class="form-group">
                    <label asp-for="StayRooms.FirstOrDefault().Agent.Code" class="col-md-3 control-label"></label>
                    <div class="col-md-3">
                        <input asp-for="@stayrooms[0].Agent.Code" class="form-control input-sm" />
                        <span asp-validation-for="@stayrooms[0].Agent.Code" class="text-danger" />
                    </div>
                    <div class="col-md-6">
                        <input asp-for="@stayrooms[0].Agent.Name" class="form-control  input-sm" />
                        <span asp-validation-for="@stayrooms[0].Agent.Name" class="text-danger" />
                    </div>
                </div>
                <!--Pricelist-->
                <div class="form-group">
                    <label asp-for="StayRooms.FirstOrDefault().Pricelist" class="col-md-3 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="@stayrooms[0].Pricelist" class="form-control input-sm" />
                        <span asp-validation-for="@stayrooms[0].Pricelist" class="text-danger" />
                    </div>
                </div>
                <!--Arrival-->
                <div class="form-group">
                    <label asp-for="StayRooms.FirstOrDefault().Arrival" class="col-md-3 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="@stayrooms[0].Arrival" class="form-control input-sm datepicker" type="text" />
                        <span asp-validation-for="@stayrooms[0].Arrival" class="text-danger" />
                    </div>
                </div>
                <!--Departure-->
                <div class="form-group">
                    <label asp-for="StayRooms.FirstOrDefault().Departure" class="col-md-3 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="@stayrooms[0].Departure" class="form-control input-sm datepicker" type="text" />
                        <span asp-validation-for="@stayrooms[0].Departure" class="text-danger" />
                    </div>
                </div>

            </div>

            <!--Contact Info-->
            <div class="Col-md-6">
                <!--Contact-->
                @*<div class="form-group">
                        <label asp-for="@stayrooms.FirstOrDefault().StayPersons.FirstOrDefault().Customer.Address_AddressLine1" class="col-md-3 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="@stayrooms[0].StayPersons.ToArray()[0].Customer.Address_AddressLine1" class="form-control" />
                            <span asp-validation-for="@stayrooms[0].StayPersons.ToArray()[0].Customer.Address_AddressLine1" class="text-danger" />
                        </div>
                    </div>*@
            </div>

        </div>

        <!--ReservationRooms (StayRooms) & Deposits-->
        <div class="row">

            <!--StayRooms-->
            <div class="col-md-6">
                <div id="reservationstayrooms" data-link="@Url.Action("EditStayRooms",new { id = Model.id })"></div>
            </div>

            <!--Deposits-->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">@Localizer["Deposits"]</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="askprepaylabel">@Localizer["Asked"]</span>
                                    <input type="text" asp-for="AskPrePay" class="form-control input-sm numbertextbox" aria-describedby="askprepaylabel">
                                    <span asp-validation-for="AskPrePay" class="text-danger" />
                                </div>
                            </div>
                            <div class="col-md-6 pull-right">
                                <div class="input-group">
                                    <span class="input-group-addon" id="askprepayuntillabel">@Localizer["until"]</span>
                                    <input type="text" asp-for="AskPrePayDate" class="form-control input-sm datepicker" aria-describedby="askprepayuntillabel">
                                    <span asp-validation-for="AskPrePayDate" class="text-danger" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <label class="col-md-2 control-label">@Localizer["Remarks"]</label>
            <div class="col-md-10">
                <textarea asp-for="Remarks" class="form-control" rows="3" cols="7" />
                <span asp-validation-for="Remarks" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/js/localize/datepicker-el.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
