@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<welcome.Models.Reservation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="fullpage">
    <div class="row">
        <div class="col-md-4">
            <div id="reservations-list">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th><a asp-action="Index" asp-route-shortby="AA" asp-route-asc="@(!ViewBag.Asceding)">AA</a></th>
                            <th><a asp-action="Index" asp-route-shortby="Reservation" asp-route-asc="@(!ViewBag.Asceding)">Reservation</a></th>
                            <th><a asp-action="Index" asp-route-shortby="Date" asp-route-asc="@(!ViewBag.Asceding)">Date</a></th>
                            <th><a asp-action="Index" asp-route-shortby="Rooms" asp-route-asc="@(!ViewBag.Asceding)">Rooms</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
            {
                        <tr class="reservationrow" data-reservationid="@item.id">
                            <td>@item.AA</td>
                            <td>@item.GuestOrGroup</td>
                            <td class="text-right">@string.Format($"{item.StayRooms.FirstOrDefault().Arrival:d/M/yy}")</td>
                            <td class="text-center">@item.StayRooms.Count()</td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td colspan="3">@string.Format($"{Model.Sum(r => r.StayRooms.Count())} Rooms on {Model.Count()} reservations")</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-md-8">
            <div id="reservation-data" data-link="@Url.Action("EditReservation","Reservations")">
            </div>
        </div>
    </div>
</div>
