@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<welcome.Models.Branch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if ((ViewBag.ActiveHotelID ?? Guid.Empty) != Guid.Empty)
    {
        <a asp-action="Create" asp-route-id="@((Guid)ViewBag.ActiveHotelID)">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a> |
                    <a asp-action="Index" asp-controller="Rooms" asp-route-id="@item.id">Rooms</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
